# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and debug files
*.log
*.out
*.err

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Test coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Distribution files
dist/
build/
*.egg-info/

# Config files
*.env
.env.*